LOG_LEVEL=debug
PORT=3000
NODE_ENV=
DEV_TOKEN=

# DB connection
DB_HOST=localhost 
DB_NAME=name
DB_PORT=5432
DB_USER=user
DB_PASSWORD=pass
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
DATABASE_LOGGING=false

# Connect to supabase project
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=https://your-jwl-url
# Connect to supabase storage
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=ingredients

# JWT secret
JWT_SECRET=<random 256-bit string>
JWT_ACCESS_EXP=<Time in minutes>
JWT_REFRESH_SECRET=<different random 256-bit string>
JWT_REFRESH_EXP=<Time in minutes>